[Unit]
Description=Github RAG Webhook Server
After=network.target

[Service]
User=ian
EnvironmentFile=/home/ian/github_webhook.env
WorkingDirectory=/home/ian/
ExecStart=/bin/bash -c 'exec /usr/bin/python3 /home/ian/repos/anythingllm/src/webhook_receiver.py'
Restart=always
RestartSec=10
StandardOutput=append:/var/log/github_webhook_stdout.log
StandardError=append:/var/log/github_webhook_error.log

[Install]
WantedBy=multi-user.target